<mat-sidenav-container>
  <mat-sidenav
    [mode]="(matchesMedium | async) ? 'over' : 'side'"
    [fixedInViewport]="matchesMedium | async"
    [fixedTopGap]="(matchesSmall | async) ? 56 : 64"
    [opened]="(matchesMedium | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
      </a>

      <mat-divider [appAuthRole]="['admin', 'manager', 'sales']"></mat-divider>
      <a
        mat-list-item
        routerLink="/sales/orders"
        [appAuthRole]="['admin', 'manager', 'sales']"
      >
        <mat-icon mat-list-icon>receipt</mat-icon>
        Orders
      </a>
      <a
        mat-list-item
        routerLink="/sales/returns"
        [appAuthRole]="['admin', 'manager', 'sales']"
      >
        <mat-icon mat-list-icon>cancel</mat-icon>
        Returns
      </a>
      <a
        mat-list-item
        routerLink="/sales/payment-methods"
        [appAuthRole]="['admin']"
      >
        <mat-icon mat-list-icon>payments</mat-icon>
        Payment methods
      </a>
      <a
        mat-list-item
        routerLink="/sales/delivery-methods"
        [appAuthRole]="['admin']"
      >
        <mat-icon mat-list-icon>local_shipping</mat-icon>
        Delivery methods
      </a>

      <mat-divider [appAuthRole]="['admin', 'manager', 'sales']"></mat-divider>
      <a
        mat-list-item
        routerLink="/catalog/products"
        [appAuthRole]="['admin', 'manager', 'sales']"
      >
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        Products
      </a>
      <a
        mat-list-item
        routerLink="/catalog/categories"
        [appAuthRole]="['admin', 'manager', 'sales']"
      >
        <mat-icon mat-list-icon>local_offer</mat-icon>
        Categories
      </a>

      <mat-divider [appAuthRole]="['admin']"></mat-divider>
      <a mat-list-item routerLink="/users" [appAuthRole]="['admin']">
        <mat-icon mat-list-icon>people</mat-icon>
        Users
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
