<mat-sidenav-container>
  <mat-sidenav
    [mode]="(matchesMedium | async) ? 'over' : 'side'"
    [fixedInViewport]="matchesMedium | async"
    [fixedTopGap]="(matchesSmall | async) ? 56 : 64"
    [opened]="(matchesMedium | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <ng-container
        *ngIf="
          ['admin', 'manager', 'sales'].includes((userRoles$ | async) ?? '')
        "
      >
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/orders"> Orders </a>
      </ng-container>
      <ng-container
        *ngIf="['admin', 'manager'].includes((userRoles$ | async) ?? '')"
      >
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/products"> Products </a>
      </ng-container>
      <ng-container *ngIf="['admin'].includes((userRoles$ | async) ?? '')">
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/users"> Users </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
