:host {
  flex: 1;
  display: flex;
  overflow: hidden;
}

mat-sidenav-container {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
  overflow: hidden;
}

mat-sidenav {
  width: 200px;
  padding-top: 12px;
}

mat-sidenav-content {
  padding: 24px;
  height: auto;
  overflow-y: scroll;
  flex: 1;
}

mat-divider {
  margin: 12px 0;
}
