<mat-card>
  <mat-card-title> Delivery methods </mat-card-title>
  <mat-card-content>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      matSortActive="id"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
        <td mat-cell *matCellDef="let deliveryMethod">
          {{ deliveryMethod.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
        <td mat-cell *matCellDef="let deliveryMethod">
          {{ deliveryMethod.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
          Description
        </th>
        <td mat-cell *matCellDef="let deliveryMethod">
          {{ deliveryMethod.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
        <td mat-cell *matCellDef="let deliveryMethod">
          {{ deliveryMethod.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let deliveryMethod">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedDeliveryMethod =
                expandedDeliveryMethod === deliveryMethod
                  ? null
                  : deliveryMethod;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedDeliveryMethod !== deliveryMethod">
              keyboard_arrow_down
            </mat-icon>
            <mat-icon *ngIf="expandedDeliveryMethod === deliveryMethod"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let deliveryMethod" [attr.colspan]="7">
          <div
            class="deliveryMethod-detail"
            [@detailExpand]="
              deliveryMethod && deliveryMethod === expandedDeliveryMethod
                ? 'expanded'
                : 'collapsed'
            "
          >
            <app-delivery-method-detail
              [deliveryMethod]="deliveryMethod"
              (cancel)="expandedDeliveryMethod = null"
            ></app-delivery-method-detail>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['id', 'name', 'description', 'price', 'expand']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let deliveryMethod;
          columns: ['id', 'name', 'description', 'price', 'expand']
        "
        class="deliveryMethod-row"
        [class.deliveryMethod-expanded-row]="
          expandedDeliveryMethod === deliveryMethod
        "
        (click)="
          expandedDeliveryMethod =
            expandedDeliveryMethod === deliveryMethod ? null : deliveryMethod
        "
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="deliveryMethod-detail-row"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
