mat-card {
  padding: 0;

  mat-card-title {
    a {
      margin-top: -4px;
      position: relative;
      display: inline-block;
      top: -4px;
      padding-left: 0;
      padding-right: 0;
      width: 36px;
      min-width: 36px;
      margin-right: 12px;
      margin-left: -6px;
    }
    padding: 16px 16px 6px;
    margin-bottom: 0;
  }

  mat-card-content {
    min-height: 120px;
    margin-bottom: 0;
    padding: 8px 16px 16px;
  }
}


form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: 18px;
  row-gap: 4px;
  flex-wrap: wrap;
  align-items: stretch;
  h2 {
    margin-bottom: 6px;
  }
  .items {
    flex: 4;
    flex-basis: 100%;
    overflow: hidden;
    margin-left: -16px;
    margin-right: -16px;
    h2 {
      padding-left: 16px;
    }
  }
  .contact {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 180px;
    max-width: 100%;
    overflow: hidden;
    mat-form-field {
      width: 100%;
    }
    textarea {
      height:160px;
    }
  }
  .details {
    flex: 1;
    flex-basis: 180px;
    overflow: hidden;
    padding-bottom: 36px;
    mat-form-field, mat-select-country {
      width: 100%;
      display: inline-block;
    }

    > div.buttons {
      position: absolute;
      bottom: 16px;
      right: 16px;
      button {
        margin-left: 12px;
      }
    }
  }
}
