<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{ (product$ | async)?.name }} </mat-card-title>
  </mat-card-title-group>
  <mat-tab-group dynamicHeight>
    <mat-tab label="General">
      <mat-card-content>
        <app-product-details
          *ngIf="product$ | async"
          [product]="(product$ | async) ?? null"
        ></app-product-details>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Attributes">
      <mat-card-content>
        <app-product-attributes
          *ngIf="product$ | async"
          [product]="(product$ | async) ?? null"
        ></app-product-attributes>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
