.categories-tree-invisible {
  display: none;
}

.categories-tree ul,
.categories-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.categories-tree .mat-nested-tree-node div[role=group] {
  margin-left: 24px;
  padding-left: 5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 22px;
    width: 8px;
    border-left: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
  }
}

div[role=group] .mat-tree-node {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: -8px;
    bottom: 0;
    width: 32px;
    height: 2px;
    background: #e0e0e0;
  }
}

div[role=group] .mat-nested-tree-node > .mat-tree-node {
  &::after {
    width: 8px;
  }
}

.categories-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.mat-tree-node {
  padding-left: 40px;
}

.mat-nested-tree-node .mat-tree-node {
  padding-left: 0;
}

.mat-tree-node {
  cursor: pointer;
  .add-button {
    margin-left: 4px;
    opacity: 0;
  }
  &:hover {
    .add-button {
      opacity: 1;
    }
  }
}
