form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: 24px;
  row-gap: 4px;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: -8px;
  h2 {
    margin-bottom: 6px;
  }
  mat-form-field {
    width: 100%;
  }
  .status {
    flex: 1 0 180px;
    overflow: hidden;
  }
  .delivery {
    flex: 1 0 180px;
    overflow: hidden;
  }
  .payment {
    flex: 1 0 180px;
    overflow: hidden;
    padding-bottom: 36px;
    > div.buttons {
      position: absolute;
      bottom: 16px;
      right: 16px;
      button {
        margin-left: 12px;
      }
    }
  }
}
