/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-button, .mat-flat-button, .mat-raised-button {
  text-transform: uppercase;
}

mat-select-country .mat-form-field {
  width: 100%;
}
