@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

mat-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 24px;
}

mat-card-title {
  margin-bottom: 24px;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 8px;
}

.mat-raised-button {
  text-transform: uppercase;
}
