mat-card {
  padding-bottom: 0;
}

mat-card-content {
  margin-left: -16px;
  margin-right: -16px;
}


mat-row.return-detail-row {
  min-height: 0;
}

mat-row.return-row:not(.return-detail-row):hover {
  background: whitesmoke;
}

mat-row.return-row:not(.return-detail-row):active {
  background: #efefef;
}

.return-row {
  border-bottom-width: 0;
}

mat-row, mat-header-row {
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
mat-header-row {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.mat-column-itemsCount, .mat-column-itemsTotal {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-id {
  padding-left: 8px;
  flex-basis: 48px;
  flex-grow: 0.2;
}
.mat-column-created, .mat-column-order_created {
  flex-basis: 120px;
  flex-grow: 0.2;
}
.mat-column-status {
  flex-basis: 64px;
  flex-grow: 0.2;
}
.mat-column-order_id {
  flex-basis: 48px;
  flex-grow: 0.2;
}
.mat-column-itemsCount {
  flex-basis: 80px;
  flex-grow: 0.2;
}
.mat-column-itemsTotal {
  flex-basis: 80px;
  flex-grow: 0.4;
}
.mat-column-expand {
  flex-basis: 48px;
  flex-grow: 0;
}
.mat-column-expandedDetail {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}


mat-cell, mat-header-cell {
  white-space: nowrap;
}

.add-button {
  position: sticky;
  float: right;
  margin-top: -144px;
  margin-right: -45px;
  bottom: 16px;
}


.mat-row:last-child {
  border-bottom: none;
}

mat-paginator {
  position: sticky;
  bottom: -24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
