:host {
  padding-top: 12px;
  padding-bottom: 18px;
  overflow: hidden;
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  flex-wrap: wrap;
  mat-form-field {
    flex: 1;
    min-width: 120px;
    max-width: 240px;
  }
}

.user-actions {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  flex-wrap: wrap;
  .user-actions-spacer {
    flex: 1
  }
}
