mat-card {
  padding-bottom: 0;
}
mat-card-content {
  margin-left: -16px;
  margin-right: -16px;
}

mat-row.order-row:hover {
  background: whitesmoke;
}
mat-row.order-row:active {
  background: #efefef;
}
mat-row, mat-header-row {
  gap: 16px;
  padding-left: 16px;
  padding-right: 24px;
  position: relative;
}
mat-header-row {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.mat-column-itemsCount, .mat-column-itemsTotal {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-id {
  padding-left: 8px;
  flex-basis: 48px;
  flex-grow: 0.1;
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
.mat-column-created, {
  flex-basis: 120px;
  flex-grow: 0.2;
}
.mat-column-status {
  flex-basis: 64px;
  flex-grow: 0.2;
}
.mat-column-itemsCount {
  flex-basis: 48px;
  flex-grow: 0.2;
}
.mat-column-itemsTotal {
  flex-basis: 64px;
  flex-grow: 0.4;
}
.mat-column-fullName {
  flex-basis: 120px;
  flex-grow: 0.4;
}
.mat-column-delivery, .mat-column-payment {
  flex-basis: 64px;
  flex-grow: 0.2;
}

mat-cell, mat-header-cell {
  white-space: nowrap;
}

.add-button {
  position: sticky;
  float: right;
  margin-top: -144px;
  margin-right: -45px;
  bottom: 16px;
}


.mat-row:last-child {
  border-bottom: none;
}

mat-paginator {
  position: sticky;
  bottom: -24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
